{{#if name}}
<div class="ui one column grid" style="height:100vh">
    <div class="row">
        <div class="column">
            <h2 class="ui header">
                {{name}}
                <i {{bind-attr class="isResponding:green:red :comment isResponding::outline :icon"}}></i>
            </h2>
            <div class="ui divider"></div>
            <div {{bind-attr id=messageListId}} class="ui list">
                {{#each message in sortedMessages}}
                    <div class="item">
                        <div {{bind-attr id=message.id}} {{bind-attr class=":ui :segment message.isMine:right:left :floated"}}>
                            {{message.text}}
                        </div>
                    </div>
                {{/each}}
                {{#each message in queuedMessages}}
                    <div class="item">
                        <div class="ui right floated disabled segment">
                            {{message}}
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
    <div class="bottom aligned row">
        <div class="column">
            <div class="ui action fluid input"> 
                {{input value=typedMessage placeholder="Message" insert-newline="sendMessage" maxlength=maxLength}}
                <button {{bind-attr class=":ui typedMessage::disabled :button"}} {{action "sendMessage"}}>Send</button>
            </div>
        </div>
    </div>
</div>
{{else}}
No conversation selected
{{/if}}