<div class="ui middle aligned centered grid" style="height:100vh">
    <div class="ten wide column">
        <h1 class="ui center aligned header">Vuvuzela Login</h1>

        <div {{bind-attr class=":ui stateClass :form"}}>
            <div class="field">
                <label>Public Key</label>
                {{input value=publicKey placeholder="Public Key" class=""}}
            </div>
            <div class="field">
                <label>Private Key</label>
                {{input value=privateKey placeholder="Private Key"}}
            </div>
            <div class="field">
                <label>Name</label>
                {{input value=name placeholder="Name"}}
            </div>
            <button class="ui fluid button" {{action 'login'}}>Login</button>
            <div class="ui error message">
                <div class="header">Connection Error</div>
                <p>Failed to connect to the server.</p>
              </div>
        </div>
    </div>
</div>