<!--{{conversation-list}}-->
{{input value=dialee placeholder="Dialee Name"}}
<button {{action 'dial'}}>Dial</button>
<br>
{{input value=theirKey placeholder="Their Key"}}
<button {{action 'set'}}>Set</button>
<br>
{{input value=message placeholder="Message"}}
<button {{action 'send'}}>Send</button>