{{input value=dialeeKey placeholder="Dialee Key"}}
<button {{action 'dial'}}>Dial</button>
<br>
{{input value=theirKey placeholder="Their Key"}}
<button {{action 'set'}}>Set</button>
<br>
{{input value=message placeholder="Message"}}
<button {{action 'send'}}>Send</button>